/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --element-color: #353430;
}

.theme-light .decoration_with-dot {
  display: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid #32312d66;
}

.footer_title {
  text-shadow: 2px 2px 0 #ff0070;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --main_text-color: #353430;
    --element-color: #353430;
  }

  .decoration_with-dot {
    display: none;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid #32312d66;
  }

  .footer_title {
    text-shadow: 2px 2px 0 #ff0070;
  }
}
