/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin: 0 auto;
  background-color: var(--bg-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  min-block-size: 648px;
  block-size: 100vh;
}

/* Переключатели */
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 11.5px;
  margin-top: 64px;
}

.header__theme-menu-button {
  width: 69px;
  height: 25px;
  border: transparent;
  color: var(--element-color);
  font-family: var(--font), sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--header__theme-menu);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

/* REC */
.decoration_with-dot {
  content: "";
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--element-color);
  font-family: var(--font), sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  text-transform: uppercase;
}

.decoration_with-dot::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--element-color);
  background-color: var(--element-color);
  inline-size: 9px;
  block-size: 9px;
}

/* РАМКА */
.frame::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--element-color);
  border-right: 1px solid var(--element-color);
  inline-size: 25px;
  block-size: 25px;
}

.frame::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--element-color);
  border-left: 1px solid var(--element-color);
  inline-size: 25px;
  block-size: 25px;
}

/* no focus */
.header_title {
  justify-self: start;
  color: var(--title-color);
  font-family: var(--font), sans-serif;
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* Текст в header */
.header_description {
  justify-self: end;
  margin-top: 55px;
  max-inline-size: 355px;
  block-size: fit-content;
}

/* Декор заголовка */
.title-decor {
  color: var(--main_text-color);
  font-family: var(--font), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

/* Декор заголовка тонкий*/
.title-decor_thin {
  font-weight: 400;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 10px;
  margin-top: 40px;
}

.section h3,
h4 {
  margin-bottom: 10px;
}

/* Оформление заголовка в секциях */
.section_title {
  margin-bottom: 20px;
  color: var(--element-color);
  font-family: var(--font), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

/* Оформление абзацов в секциях */
.section_text {
  margin-bottom: 20px;
  color: var(--text-color);
  font-family: var(--font), sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

/* Оформление ссылки */
.link_effect {
  text-decoration: none;
  text-shadow: 2px 1px var(--accent-color);
}

.link_effect:hover {
  border-bottom: 1px solid currentColor;
}

.link_effect:focus {
  outline: none;
}

.link_effect:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 0px;
}

.section_advice_wrapper h3 {
  margin-bottom: 20px;
}

.section_gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

/* Фото из галерии */
.section_image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 10px;
  min-block-size: 648px;
  block-size: 100vh;
}

.footer_title {
  color: var(--title-color);
  font-family: var(--font), sans-serif;
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 83%;
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
    min-block-size: 768px;
  }

  .decoration_with-dot {
    top: 20px;
    right: 30px;
  }

  .frame::after {
    bottom: 20px;
    left: 20px;
  }

  .frame::before {
    top: 20px;
    right: 20px;
  }

  .header__theme-menu-list {
    margin-top: 170px;
  }

  .header_description {
    margin-top: 163px;
    max-inline-size: 364px;
  }

  .header_title {
    margin-top: 0;
    margin-left: -20px;
  }

  .main {
    gap: 60px;
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .section {
    display: grid;
    gap: 20px;
    grid-template-columns: 236px 1fr;
  }

  .section:nth-child(2) {
    gap: 0;
  }

  .section_attention {
    grid-template-columns: 1fr;
  }

  .section_attention .section_title {
    max-inline-size: 236px;
  }

  .section_gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .section_gallery .title-decor {
    grid-column: span 3;
  }

  .section_image:first-of-type {
    grid-column: 1/3;
  }

  .section_image:nth-of-type(2) {
    grid-column: 3/4;
    grid-row: 2/4;
  }

  .section_image:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/5;
  }

  .section_image:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .section_image:last-of-type {
    grid-column: 2 / 4;
  }

  .footer {
    margin-top: 60px;
    padding: 20px;
    min-block-size: 984px;
    max-block-size: 100vh;
  }
}

@media (min-width: 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-top: 0;
  }

  .header_description {
    margin-top: 114px;
    max-inline-size: 491px;
  }

  .section {
    grid-template-columns: 315px 1fr;
  }

  .section_attention {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
  }

  .section_attention_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section_attention .section_title {
    max-inline-size: 315px;
  }

  .section_gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    min-block-size: 768px;
  }
}
